{{#if posts.length}}
<section id="dashboard">
  <ul>
    {{#each posts as |post|}}
    <li>
      <a href="/dashboard/edit/{{post.id}}" class="edit-content">{{post.title}}</a>
      <div class="meta">
        {{format_date created_at}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<a href="./add-post">Create Post</a>