<form class="login-form" id="login-form" style="display:none;">
  <h2>Login</h2>
  <section class="login-form-wrapper">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit">Login!</button>
    <a id="signup-a">Signup instead</a>
  </section>
</form>
<form class="login-form" id="signup-form">
  <h2>Sign up</h2>
  <section class="login-form-wrapper">
    <div>
      <label for="username-signup">Username</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup">Password</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Sign Up!</button>
    </div>
    <a id="login-a">Login instead</a>
  </section>
</form>
<script src="/javascript/login.js"></script>